<div id="side-panel" class="side-panel">
  <a href="#" class="side-panel-close"><i class="ot-flaticon-close-1"></i></a>
  <div class="side-panel-block">
     <div class="side-panel-wrap">
      <div class="the-logo">
        <a href="/">
          <img src="images/logo-footer.svg" alt="Theratio" />
        </a>
      </div>
      {{!-- <div class="ot-heading">
        <h2 class="main-heading">Our Gallery</h2>
      </div>
      <div class="image-gallery">
        <div
          id="gallery-1"
          class="gallery galleryid-102 gallery-columns-3 gallery-size-thumbnail"
        >
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery1.jpg"
              >
                <img src="images/gallery-small-1.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery2.jpg"
              >
                <img src="images/gallery-small-2.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery3.jpg"
              >
                <img src="images/gallery-small-3.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery4.jpg"
              >
                <img src="images/gallery-small-4.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery5.jpg"
              >
                <img src="images/gallery-small-5.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery6.jpg"
              >
                <img src="images/gallery-small-6.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
        </div>
      </div> --}}
      <div class="ot-heading">
        <h2 class="main-heading">Contact Info</h2>
      </div>
      <div class="side-panel-cinfo">
        <ul class="panel-cinfo">
          <li class="panel-list-item">
            <span class="panel-list-icon"><i
                class="ot-flaticon-place"
              ></i></span>
            <span class="panel-list-text">Hill Place Road, Market Junction, Tripunithara-682301</span>
          </li>
          <li class="panel-list-item">
            <span class="panel-list-icon"><i
                class="ot-flaticon-mail"
              ></i></span>
            <span class="panel-list-text">nediyathsanitary3@gmail.com</span>
          </li>
          <li class="panel-list-item">
            <span class="panel-list-icon"><i
                class="ot-flaticon-phone-call"
              ></i></span>
            <span class="panel-list-text">0484 2776464</span>
          </li>
        </ul>
      </div>
      <div class="side-panel-social">
        <ul>
          <li><a href="http://twitter.com" target="_self"><i
                class="fab fa-twitter"
              ></i></a></li>
          <li><a href="http://facebook.com" target="_self"><i
                class="fab fa-facebook-f"
              ></i></a></li>
          <li><a href="http://linkedin.com" target="_self"><i
                class="fab fa-linkedin-in"
              ></i></a></li>
          <li><a href="http://instagram" target="_self"><i
                class="fab fa-instagram"
              ></i></a></li>
        </ul>
      </div>
    </div>
       <div class="side-panel-wrap">
      <div class="the-logo">
        <a href="index-html">
          <img src="images/logo-footer.svg" alt="Theratio" />
        </a>
      </div>
      <div class="ot-heading">
        <h2 class="main-heading">Our Gallery</h2>
      </div>
      <div class="image-gallery">
        <div
          id="gallery-1"
          class="gallery galleryid-102 gallery-columns-3 gallery-size-thumbnail"
        >
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery1.jpg"
              >
                <img src="images/gallery-small-1.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery2.jpg"
              >
                <img src="images/gallery-small-2.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery3.jpg"
              >
                <img src="images/gallery-small-3.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery4.jpg"
              >
                <img src="images/gallery-small-4.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery5.jpg"
              >
                <img src="images/gallery-small-5.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
          <figure class="gallery-item">
            <div class="gallery-icon landscape">
              <a
                data-elementor-open-lightbox="yes"
                data-elementor-lightbox-slideshow="8701e24"
                data-elementor-lightbox-title="p4-gallery1"
                href="images/gallery6.jpg"
              >
                <img src="images/gallery-small-6.jpg" class="" alt="" />
              </a>
            </div>
          </figure>
        </div>
      </div>
      <div class="ot-heading">
        <h2 class="main-heading">Contact Info</h2>
      </div>
      <div class="side-panel-cinfo">
        <ul class="panel-cinfo">
          <li class="panel-list-item">
            <span class="panel-list-icon"><i
                class="ot-flaticon-place"
              ></i></span>
            <span class="panel-list-text">411 University St, Seattle, USA</span>
          </li>
          <li class="panel-list-item">
            <span class="panel-list-icon"><i
                class="ot-flaticon-mail"
              ></i></span>
            <span class="panel-list-text">theratio_interior@mail.com</span>
          </li>
          <li class="panel-list-item">
            <span class="panel-list-icon"><i
                class="ot-flaticon-phone-call"
              ></i></span>
            <span class="panel-list-text">+1 800 456 789 123</span>
          </li>
        </ul>
      </div>
      <div class="side-panel-social">
        <ul>
          <li><a href="http://twitter.com" target="_self"><i
                class="fab fa-twitter"
              ></i></a></li>
          <li><a href="http://facebook.com" target="_self"><i
                class="fab fa-facebook-f"
              ></i></a></li>
          <li><a href="http://linkedin.com" target="_self"><i
                class="fab fa-linkedin-in"
              ></i></a></li>
          <li><a href="http://instagram" target="_self"><i
                class="fab fa-instagram"
              ></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="content" class="site-content">
  <div class="page-header dtable text-center header-transparent pheader-team">
    <div class="dcell">
      <div class="container">
        <h1 class="page-title">Our Products</h1>
        <ul id="breadcrumbs" class="breadcrumbs none-style">
          <li><a href="/">Home</a></li>
          <li class="active">Products</li>
        </ul>
      </div>
    </div>
  </div>
</div>
<section class="section-team-list">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center theratio-align-center">
        <div class="ot-heading is-dots">
          <span>[ our professionals ]</span>
          <h2 class="main-heading">PRODUCTS</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="team-block-wrap row">
    {{#each product}}
      <div class="team-item">
        <div class="team-wrap">
          <div class="team-thumb">
            <img
              src="/product-images/{{this._id}}.jpg"
              alt="Christina Torres"
            />
          </div>
          <div class="team-text-overlay">
            <div class="team-info dtable">
              <div class="dcell">
                <h4 class="m_name">{{this.name}}</h4>
                <span>[ {{this.discription}}]</span>
                <div class="team-social flex-middle">
                  <span class="ot-flaticon-add"></span>
                  <a href="https://twitter.com"><i
                      class="fab fab fa-twitter"
                    ></i></a>
                  <a href="https://linkedin.com"><i
                      class="fab fab fa-linkedin-in"
                    ></i></a>
                  <a href="https://instagram.com"><i
                      class="fab fab fa-instagram"
                    ></i></a>
                </div>
              </div>
              <div class="m_extra">
                <span>₹ {{this.price}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/each}}

  </div>
  <div class="counter-of-team">
    <div class="container">
      <div class="row">
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4 mb-xl-0">
          <div class="ot-counter">
            <div>
              <span>[</span>
              <span class="num" data-to="180" data-time="2000">0</span>
              <span>+]</span>
            </div>
            <h6>Current Clients</h6>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4 mb-xl-0">
          <div class="ot-counter">
            <div>
              <span>[</span>
              <span class="num" data-to="10" data-time="2000">0</span>
              <span>+]</span>
            </div>
            <h6>years of experience</h6>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6 mb-4 mb-sm-0">
          <div class="ot-counter">
            <div>
              <span>[</span>
              <span class="num" data-to="35" data-time="2000">0</span>
              <span>+]</span>
            </div>
            <h6>awards winning</h6>
          </div>
        </div>
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-6">
          <div class="ot-counter">
            <div>
              <span>[</span>
              <span class="num" data-to="5" data-time="2000">0</span>
              <span>+]</span>
            </div>
            <h6>Offices Worldwide</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{{!-- <section class="about-testi">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center theratio-align-center">
        <div class="ot-heading is-dots">
          <span>[ testimonials ]</span>
          <h2 class="main-heading">What People Say</h2>
        </div>
      </div>
      <div class="col-lg-12">
        <div class="ot-testimonials v-light">
          <div class="testimonial-inner testi-col-3 owl-theme owl-carousel">
            <div class="testi-item">
              <div class="ttext">
                <div class="layer-behind"></div>
                <span></span>
                "You will never fake the feeling of being in such a place. The
                live minimalism base on the natural materials & alive
                unprocessed."
              </div>
              <div class="t-head flex-middle">
                <img src="images/testi1.png" alt="" />
                <div class="tinfo">
                  <h6>Anna Paulina</h6>
                  <span>Client of Company</span>
                </div>
              </div>
            </div>
            <div class="testi-item">
              <div class="ttext">
                <div class="layer-behind"></div>
                <span></span>
                "You will never fake the feeling of being in such a place. The
                live minimalism base on the natural materials & alive
                unprocessed."
              </div>
              <div class="t-head flex-middle">
                <img src="images/testi2.png" alt="" />
                <div class="tinfo">
                  <h6>Pablo Gusterio</h6>
                  <span>Client of Company</span>
                </div>
              </div>
            </div>
            <div class="testi-item">
              <div class="ttext">
                <div class="layer-behind"></div>
                <span></span>
                "You will never fake the feeling of being in such a place. The
                live minimalism base on the natural materials & alive
                unprocessed."
              </div>
              <div class="t-head flex-middle">
                <img src="images/testi3.png" alt="" />
                <div class="tinfo">
                  <h6>Kristina Lee</h6>
                  <span>Client of Company</span>
                </div>
              </div>
            </div>
            <div class="testi-item">
              <div class="ttext">
                <div class="layer-behind"></div>
                <span></span>
                "You will never fake the feeling of being in such a place. The
                live minimalism base on the natural materials & alive
                unprocessed."
              </div>
              <div class="t-head flex-middle">
                <img src="images/testi1.png" alt="" />
                <div class="tinfo">
                  <h6>Anna Paulina</h6>
                  <span>Client of Company</span>
                </div>
              </div>
            </div>
            <div class="testi-item">
              <div class="ttext">
                <div class="layer-behind"></div>
                <span></span>
                "You will never fake the feeling of being in such a place. The
                live minimalism base on the natural materials & alive
                unprocessed."
              </div>
              <div class="t-head flex-middle">
                <img src="images/testi2.png" alt="" />
                <div class="tinfo">
                  <h6>Pablo Gusterio</h6>
                  <span>Client of Company</span>
                </div>
              </div>
            </div>
            <div class="testi-item">
              <div class="ttext">
                <div class="layer-behind"></div>
                <span></span>
                "You will never fake the feeling of being in such a place. The
                live minimalism base on the natural materials & alive
                unprocessed."
              </div>
              <div class="t-head flex-middle">
                <img src="images/testi3.png" alt="" />
                <div class="tinfo">
                  <h6>Kristina Lee</h6>
                  <span>Client of Company</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> --}}